build/
bin/
testbin/
doc/
.directory
.git/
*~
*.orig
*.rej
*.ncb
*.sdf
*.opensdf
*.suo
*.ipch
*.user
*.db
*.opendb
dep/recastnavigation/RecastDemo/Bin
dep/recastnavigation/RecastDemo/Build
win/
.vscode/
.idea/

src/shared/